### Importación de datos

In [48]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,"164,300","6,900",16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,5,-74
1,Mesa de comedor,Muebles,"192,300","8,400",18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6,-76
2,Juego de mesa,Juguetes,"209,600","15,900",15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10,-76
3,Microondas,Electrodomésticos,"757,500","41,000",03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3,-77
4,Silla de oficina,Muebles,"335,200","20,200",07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6,-76

#1. Análisis de facturación

In [63]:
import pandas as pd

# URLs corregidas (nota el %20 en tienda_1.csv)
url1 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/main/base-de-datos-challenge1-latam/tienda_4.csv"

# Leer cada CSV y agregar columna "Tienda"
tienda1 = pd.read_csv(url1)
tienda1["Tienda"] = "tienda1"

tienda2 = pd.read_csv(url2)
tienda2["Tienda"] = "tienda2"

tienda3 = pd.read_csv(url3)
tienda3["Tienda"] = "tienda3"

tienda4 = pd.read_csv(url4)
tienda4["Tienda"] = "tienda4"

# Concatenar todos los datos en un único DataFrame
df = pd.concat([tienda1, tienda2, tienda3, tienda4], ignore_index=True)

# Lista de URLs
urls = [url1, url2, url3, url4]

# Concatenar todos los datos en un único DataFrame, con la columna "Tienda" incluida
df = pd.concat([tienda1, tienda2, tienda3, tienda4], ignore_index=True)

# Mostrar primeras filas
print(df.head())

            Producto Categoría del Producto  Precio  Costo de envío  \
0  Asistente virtual           Electrónicos 164,300           6,900
1    Mesa de comedor                Muebles 192,300           8,400
2      Juego de mesa               Juguetes 209,600          15,900
3         Microondas      Electrodomésticos 757,500          41,000
4   Silla de oficina                Muebles 335,200          20,200

  Fecha de Compra         Vendedor Lugar de Compra  Calificación  \
0      16/01/2021      Pedro Gomez          Bogotá             4
1      18/05/2022  Beatriz Morales        Medellín             1
2      15/03/2021   Juan Fernandez       Cartagena             1
3      03/05/2022   Juan Fernandez            Cali             4
4      07/11/2020    Maria Alfonso        Medellín             5

       Método de pago  Cantidad de cuotas  lat  lon   Tienda
0  Tarjeta de crédito                   8    5  -74  tienda1
1  Tarjeta de crédito                   4    6  -76  tienda1
2  Tarjeta de crédito                   1   10  -76  tienda1
3               Nequi                   1    3  -77  tienda1
4               Nequi                   1    6  -76  tienda1

In [64]:
# Convertir las columnas 'Precio' y 'Costo de envío' a tipo numérico, forzando valores no convertibles a NaN
df["Precio"] = pd.to_numeric(df["Precio"], errors="coerce")
df["Costo de envío"] = pd.to_numeric(df["Costo de envío"], errors="coerce")

# Crear una nueva columna que sume el precio del producto más el costo de envío
df["Total Facturación"] = df["Precio"] + df["Costo de envío"]

# Calcular la facturación total sumando todos los valores de la columna 'Total Facturación'
facturacion_total = df["Total Facturación"].sum()

# Imprimir el total de la facturación
print("Facturación total:", facturacion_total)

Facturación total: 4638316200.0

In [76]:
# Opción de r esultado con formato legible con comas
print("Facturación total:", f"{facturacion_total:,.2f}")

Facturación total: 4,638,316,200.00

# 2. Ventas por categoría

In [66]:
# Agrupar el DataFrame por la columna 'Categoría del Producto'
# Luego, sumar los valores de la columna 'Total Facturación' para cada categoría
ventas_categoria = df.groupby("Categoría del Producto")["Total Facturación"].sum().sort_values(ascending=False)

# Mostrar las ventas totales por categoría, de mayor a menor
print(ventas_categoria)

Categoría del Producto
Electrónicos              1,749,038,600
Electrodomésticos         1,395,147,400
Muebles                     798,111,400
Instrumentos musicales      367,276,900
Deportes y diversión        150,669,300
Juguetes                     77,625,700
Artículos para el hogar      60,690,900
Libros                       39,756,000
Name: Total Facturación, dtype: float64

In [67]:
# Opción sin decimales y con comas
pd.options.display.float_format = '{:,.0f}'.format  # Sin decimales y con comas

print(ventas_categoria)

Categoría del Producto
Electrónicos              1,749,038,600
Electrodomésticos         1,395,147,400
Muebles                     798,111,400
Instrumentos musicales      367,276,900
Deportes y diversión        150,669,300
Juguetes                     77,625,700
Artículos para el hogar      60,690,900
Libros                       39,756,000
Name: Total Facturación, dtype: float64

# 3. Calificación promedio de la tienda

In [68]:
# Convertir la columna 'Calificación' a valores numéricos (por si hay datos mal cargados o como texto)
# Los valores no convertibles se transforman en NaN gracias a errors="coerce"
df["Calificación"] = pd.to_numeric(df["Calificación"], errors="coerce")

# Calcular el promedio de todas las calificaciones (ignorando los NaN)
calificacion_prom = df["Calificación"].mean()

# Imprimir la calificación promedio de todos los productos/ventas
print("Calificación promedio:", calificacion_prom)

Calificación promedio: 4.014520402755696

In [69]:
# Opción de clasificación redondeada
print("Calificación promedio:", round(calificacion_prom, 2))

Calificación promedio: 4.01

# 4. Productos más y menos vendidos

In [71]:
# Contar cuántas veces se repite cada producto en la columna 'Producto'
# value_counts() devuelve una serie ordenada por frecuencia descendente

# Obtener el nombre del producto con la mayor cantidad de ventas (más vendido)
producto_mas_vendido = df["Producto"].value_counts().idxmax()

# Obtener el nombre del producto con la menor cantidad de ventas (menos vendido)
producto_menos_vendido = df["Producto"].value_counts().idxmin()

# Imprimir resultados
print("Producto más vendido:", producto_mas_vendido)
print("Producto menos vendido:", producto_menos_vendido)

Producto más vendido: Mesa de noche
Producto menos vendido: Celular ABXY

# 5. Envío promedio por tienda

In [72]:
# Agrupar los datos por la columna 'Tienda'
# Calcular el promedio del 'Costo de envío' para cada tienda
envio_promedio_tienda = df.groupby("Tienda")["Costo de envío"].mean().sort_values(ascending=False)

# Mostrar el costo de envío promedio por tienda, ordenado de mayor a menor
print(envio_promedio_tienda)

Tienda
tienda1   26,019
tienda2   25,216
tienda3   24,806
tienda4   23,459
Name: Costo de envío, dtype: float64

In [74]:
# Opción con signo $

# Mostrar el costo de envío promedio por tienda, ordenado de mayor a menor
print(envio_promedio_tienda.apply(lambda x: f"${x:,.2f}"))

Tienda
tienda1    $26,018.61
tienda2    $25,216.24
tienda3    $24,805.68
tienda4    $23,459.46
Name: Costo de envío, dtype: object